.small {
    font-size: small;
}
.medium {
    font-size: medium;
}
.large {
    font-size: large;
}
.primary {
    color: blue;
}
.secondary {
    color: gray;
}
.black {
    color: black;
}
.danger {
    color: red;
}
.normal {
    color: white;
}
.bold {
    font-weight: bold;
}
.semibold {
    font-weight: bolder;
}
.light {
    font-weight: lighter;
}
.text-global-style {
    padding: 2px;
    margin: 0
}